<footer class="blog-footer">
  <div class="row">
    <div class="col-sm-3">
      <p>
      David Dai<br/>
      Software Engineer<br/>
      &#100;&#97;&#118;&#105;&#100;&#46;&#100;&#120;&#102;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
      </p>
    </div>
    <div class="col-sm-3">
      <p>
      <a href="http://github.com/davdai01/">github.com/davdai01</a><br />
      <a href="http://linkedin.com/in/xufengdai/">linkedin.com/in/xufengdai</a>
      </p>
    </div>
  </div>
  <!-- <div class="contact"> -->
  <!-- </div> -->
  <!-- <div class="contact"> -->
  <!-- </div> -->
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/javascript/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
