---
layout: default
---
<!-- <div class="blog&#45;masthead"> -->
<!--   <div class="container"> -->
<!--     <nav class="blog&#45;nav"> -->
<!--       <a class="blog&#45;nav&#45;item active" href="/">Home</a> -->
<!--       <a class="blog&#45;nav&#45;item" href="/about">About</a> -->
<!--     </nav> -->
<!--   </div> -->
<!-- </div> -->
<div class="container">
  <div class="blog-header">
    <div class="blog-title"><a href="/">David Dai</a></div>
    <p class="lead blog-description"></p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      {{ content }}
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Hello</p>
      </div>
    </div>
  </div>
</div>
